# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.pytest_cache/

# Virtual environment
.venv/
venv/
env/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/


# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
